/* font-family: 'Gaegu', cursive;
font-family: 'Montserrat', sans-serif;
font-family: 'Poppins', sans-serif; */

html, body{
    font-family: 'Poppins', sans-serif;
    height:100%;
    background: hsla(31, 90%, 76%, 1);
  
    background: hsla(20, 100%, 89%, 1);
  
    background: linear-gradient(315deg, hsla(20, 100%, 89%, 1) 0%, hsla(0, 100%, 84%, 1) 100%);
    
    background: -moz-linear-gradient(315deg, hsla(20, 100%, 89%, 1) 0%, hsla(0, 100%, 84%, 1) 100%);
    
    background: -webkit-linear-gradient(315deg, hsla(20, 100%, 89%, 1) 0%, hsla(0, 100%, 84%, 1) 100%);
    
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr="#FFDAC7", endColorstr="#FFADAD", GradientType=1 );
  
  }
  
  .center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 200px;
  }
  
  .h1p{
    font-size: 2rem;
  }
  
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    position: relative;
  }
  svg.like {
    position: fixed;
    z-index: 10;
    top: calc(50vh - 160px);
    left: calc(50vw - 160px);
    border-radius: 100%;
    transform: scale(0.3);
    transform-origin: 50% 50%;
    box-shadow: 0 0 250px rgba(0, 0, 0, 0.4);
    background: #212121;
    cursor: pointer;
  }
  svg.fly {
    position: fixed;
    top: calc(50vh - 55px);
    left: calc(50vw - 55px);
    fill: #18ffff;
  }
  svg.h {
    position: fixed;
    z-index: 8;
    top: calc(50vh - 20px);
    left: calc(50vw - 20px);
    fill: #fbff00;
  }
  svg.h.h-5, svg.h.h-6, svg.h.h-7, svg.h.h-8 {
    fill: #00ffb8;
  }
  div.dot {
    width: 12px;
    height: 12px;
    position: fixed;
    z-index: 9;
    border-radius: 100%;
    top: calc(50vh - 6px);
    left: calc(50vw - 6px);
  }
  div.dot:before {
    content: "";
    width: 8px;
    height: 8px;
    border-radius: 100%;
    top: -20px;
    left: 2px;
    position: absolute;
  }
  div.dot:after {
    content: "";
    width: 11px;
    height: 11px;
    border-radius: 100%;
    top: -160px;
    left: 2px;
    position: absolute;
    display: none;
  }
  
  html,body{height:100%}
.bg_heart{position:relative;top:0;left:0;width:100%;height:100%;overflow:hidden}

.heart{position:absolute;top:-50%;-webkit-transform:rotate(-45deg);-moz-transform:rotate(-45deg);-m-transform:rotate(-45deg);transform:rotate(-45deg)}
.heart:before{position:absolute;top:-50%;left:0;display:block;content:"";width:100%;height:100%;background:inherit;border-radius:100%;}
.heart:after{position:absolute;top:0;right:-50%;display:block;content:"";width:100%;height:100%;background:inherit;border-radius:100%;}

@-webkit-keyframes love {
  0%{top:110%}
}
@-moz-keyframes love {
  0%{top:110%}
}
@-ms-keyframes love {
  0%{top:110%}
}
@keyframes love {
  0%{top:110%}
}